<div class="block">

  <div class="enter">
    <p>Добавить клиента</p>
  </div>

  <div class="enter">
    <p>Найти клиента</p>
  </div>

  <div class="enter">
    <p>Добавить заказ</p>
  </div>
</div>



<style>
  body {
    background: #eff0f2;
  }

  .enter {
    display: flex;
    -webkit-text-stroke-width: medium;
    width: 200px;
    opacity: 0.8;
    height: 90px;
    justify-content: center;
    align-items: center;
    border-top-style: groove;
    border-bottom-style: groove;
    font-size: 18px;
    font-family: monospace;
  }

  .block {
    display: flex;
    justify-content: space-between;
    margin-top: 40%;
    margin-left: 9%;
    margin-right: 9%;
  }

  p {
    display: contents;
  }
</style>
